body{
    background-color: #272724;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-size: 30px;
}

a{
    color: #b147b1;
}